<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="css/baseact.css?v=20181012" />
    <link rel="stylesheet" href="css/index.css?v=20181012" />
    <title>活动详情</title>
    <!-- <link rel="icon" href="#" type="" /> -->
</head>

<body>
    <div class="activity">
        <div class="a_title same">
            <span>主题</span>
            <span>9.8元品阳澄湖大闸蟹</span>
        </div>
        <div class="a_shop same">
            <div class="shop_tit">店铺参与要求</div>
            <div>1、参与商家需具备烹饪螃蟹的条件；</div>
            <div>2、商家无需自备螃蟹，所有螃蟹由享七平台提供。享七平台在收到用户订单后，会立即发货，保证螃蟹在3天到货；</div>
            <div>3、用户到店消费时，商家需要核销用户的螃蟹兑换券，然后对螃蟹进行加工烹饪，每人限2只，不得拒接。</div>
        </div>
        <div class="a_rule same">
            <div class="shop_tit">规则要求</div>
            <div>1、每人每次消费限食用2只；</div>
            <div>2、仅限堂食消费；</div>
            <div>3、用户在平台支付成功后，订单券在72小时后正式生效；</div>
            <div>4、订单券生效后，用户需要在2天内进店核销消费，过时作废。</div>
        </div>
        <div class="a_remark same">
            <div class="shop_tit">备注</div>
            <div>商家如需订购螃蟹，可进入"享七生鲜——送货到家"里自行选购。</div>
        </div>
    </div>
    <script src="js/phone.js?v=20181012"></script>
</body>

</html>